---
import Layout from "../../layouts/Layout.astro"
import Hero from "../../components/Hero.astro"
import Benefits from "../../components/Benefits.astro"
import CTA from "../../components/CTA.astro"

export async function getStaticPaths() {
    return [
        {params: {city: "arnold"}, props: {title: "Arnold", about: "Arnold is a town in the Gedling district of Nottinghamshire, England, located just a few miles north of Nottingham city center. With a population of around 37,000 people, Arnold is the largest town within the district and offers a range of amenities for its residents, including several supermarkets, a leisure center, and a variety of shops and restaurants. The town is well-connected to Nottingham and other nearby areas via frequent bus services, and the nearby A60 provides easy access to the M1 motorway. Arnold is also home to several parks and green spaces, including the picturesque Arnot Hill Park, making it a popular destination for outdoor activities and leisure."}},
        {params: {city: "beeston"}, props: {title: "Beeston", about: "Beeston is a suburban town located just southwest of Nottingham city centre in the East Midlands region of England. With a history dating back to the 12th century, Beeston has grown to become a thriving and diverse community with a wide range of local amenities, including shops, restaurants, and parks. Home to the main campus of the University of Nottingham, Beeston also boasts a vibrant student population, contributing to its lively and welcoming atmosphere. With excellent transport links to Nottingham and beyond, Beeston is an attractive location for those looking to live and work in the area."}},
        {params: {city: "carlton"}, props: {title: "Carlton", about: "Carlton is a suburb of Nottingham located to the east of the city centre. It offers a mix of residential and commercial areas, with easy access to Nottingham via public transport. The area is known for its diverse community and local amenities, including Carlton Forum Leisure Centre, Gedling Country Park, and the Carlton Square shopping precinct."}},
        {params: {city: "long-eaton"}, props: {title: "Long Eaton", about: "Long Eaton is a market town located in the Erewash district of Nottinghamshire, England. It is situated just a few miles southwest of Nottingham, near the border with Derbyshire. The town is known for its historic architecture, including the Grade II-listed Long Eaton Town Hall, and has a thriving shopping district with many independent and chain retailers. Long Eaton is also home to several parks and green spaces, including West Park and the Erewash Canal, which provide opportunities for outdoor activities such as boating and walking."}},
        {params: {city: "west-bridgford"}, props: {title: "West Bridgford", about: "West Bridgford is a town located to the south of Nottingham city centre. Known for its thriving food and drink scene, the town is home to numerous cafes, bars, and restaurants. West Bridgford also boasts a number of green spaces, including the popular Victoria Embankment and the Rushcliffe Country Park, making it an attractive destination for outdoor activities."}},
        {params: {city: "clifton"}, props: {title: "Clifton", about: "Clifton is a suburb located to the south of Nottingham city, close to the border with Nottinghamshire. It is situated near the River Trent and offers a mix of residential and commercial areas. Clifton has a range of amenities, including shops, supermarkets, schools, and leisure facilities. The area is well-connected to Nottingham city centre by public transport and major road networks. Clifton is also known for its green spaces, including Clifton Grove and the nearby Attenborough Nature Reserve, providing opportunities for outdoor activities and nature walks."}}
    ]
}

const { title, about } = Astro.props;
---

<Layout title={`Mobile Tyre Fitting In ${title}`} description={`Have your tyres fitted at your home in ${title} with our convenient mobile tyre fitting service. Call us today for a quote.`} index={true}>
    <Hero heading={`Mobile Tyre Fitting in ${title}`} tagline="We can come to you at home, work, or roadside" bgImg="url(/img/mobile-tyre-fitting-van.jpg)" formOption="tyreclick" />

        <div class="container py-5">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <main>
                        <h1 class="text-center text-lg-start">Mobile Tyre Fitting in {title}</h1>
                        <p>Do you find yourself stranded with a <strong>flat tyre in {title}?</strong> Why not try our hassle-free <strong>mobile tyre fitting</strong> service instead! Our team can travel to your location, whether it's at home or on the side of the road, and install new tyres for you today.</p>
                        <div class="p-4 bg-light my-3 rounded-3">
                            <h2>About {title}</h2>
                            <p>{about}</p>
                        </div>
                        <h2>Tyre Services In {title}</h2>
                        <p><strong>Mobile Tyres Nottingham</strong> offers a range of services in <strong>{title}</strong> and the surrounding areas to help keep your vehicle running safely and efficiently. Our <a href="/mobile-puncture-repair">mobile puncture repair service</a> is available to fix any holes or damage to your tyres, saving you the cost of buying new tyres. We also offer <a href="/locking-wheel-nut-removal">locking wheel nut removal</a> services for those who have lost or damaged their locking wheel nut key.</p>
                        <p>If you're having trouble starting your vehicle, our <a href="/mobile-battery-replacement">mobile car battery replacement</a> service can help. We offer battery replacement on most makes and models of vehicles in {title}. Additionally, if your vehicle is equipped with <a href="/tyre-pressure-monitoring-systems">TPMS</a>, we can programme and calibrate your new tyre sensors to ensure that they are providing accurate information about your tyre pressures at all times.</p>
                    </main>
                    <article>
                        <h2>Why Choose Mobile Tyres Nottingham?</h2>
                        <ul>
                            <li>Convenient and efficient service that comes to you.</li>
                            <li>Experienced technicians who use state-of-the-art equipment.</li>
                            <li>Wide range of tyres from leading manufacturers at competitive prices.</li>
                            <li>Exceptional customer service and integrity as a family-run business.</li>
                            <li>Open 6 days a week with <a href="/emergency-tyre-replacement">same day fitting</a> available.</li>
                        </ul>
                    </article>
                    <article>
                        <h2>Get A Quote For Tyres In {title}</h2>
                        <p>At Mobile Tyres Nottingham, we are committed to providing customers in {title} with a range of high-quality services that are both efficient and affordable. <a href="/contact-us">Contact us</a> today to learn more about our services or to schedule an appointment.</p>
                    </article>
                </div>
                <div class="col-12 col-lg-4">
                    <Benefits />
                </div>
            </div>
        </div>
        <CTA />
</Layout>